.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.dropdown-label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.add-folder-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  pointer-events: none;
}

.dropdown-select {
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-right: 30px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

.add-folder-icon {
  display: grid;
  place-items: center;
  font-size: 24px;
}
