.input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.input-field {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
}
.input-field:focus,
.input-field:active {
  box-shadow: var(--input-box-shadow-focus);
}
