#root {
  overflow-y: scroll;
  width: 375px;
  height: 600px;
}

p {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: start;
}

/* Utility classes */

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* End utility classes */

.popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup::-webkit-scrollbar {
  display: none;
}

.bookmark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.bookmark-icon {
  font-size: 16px;
}

.folder {
  cursor: pointer;
}

.folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
