#popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 375px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#popup::-webkit-scrollbar {
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.nav-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-right: 16px;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  color: black;
  transition: color 0.25s;
}

.items-list,
.favorites-list {
  width: 100%;
  margin-bottom: 16px;
}

.bookmark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.bookmark-title {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  max-width: 30ch;
}

.folder {
  border-bottom: 1px solid lightgray;
}

.folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
  color: black;
  transition: color 0.25s;
}
.folder-button:hover {
  color: lightgray;
}

.folder-items {
  margin: 0 16px;
  border-left: 1px solid lightgray;
}

.bookmark-icon,
.folder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-width: 1.5rem;
  color: black;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: whitesmoke;
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0;
}

.search-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 32px;
  padding: 0.5em;
  min-width: 80%;
}
.search-field-container:focus-within {
  border: 1px solid black;
}

.search-field {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 16px;
}
.search-field:focus,
.search-field:focus-visible,
.search-field:active {
  outline: none;
}

.search-icon {
  font-size: 1.5rem;
  color: lightgray;
  margin: 0 0.5em;
}
