#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: start;
}

/* Utility classes */

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* End utility classes */

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 50%;
  scrollbar-width: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

.folder {
  cursor: pointer;
}
